.aboutUs-backgroundimg {
    background-image: url(../../images/about-us-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.aboutUs-details-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.about-us-card {
    width: 100%;
    color: black;
    background: rgb(239, 228, 228);
    border: black 1px solid;
}